.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 2;
}

.loading-screen.hidden {
  display: none;
}

.snake {
  position: relative;
  display: flex;
  align-items: center;
}

.segment {
  width: 20px;
  height: 20px;
  background-color: rgb(93, 93, 93);
  border-radius: 5%;
  position: absolute;
  animation: slither 1s infinite ease-in-out;
}

.segment:nth-child(2) {
  animation-delay: 0.1s;
}
.segment:nth-child(3) {
  animation-delay: 0.2s;
}
.segment:nth-child(4) {
  animation-delay: 0.3s;
}
.segment:nth-child(5) {
  animation-delay: 0.4s;
}
.segment:nth-child(6) {
  animation-delay: 0.5s;
}
.segment:nth-child(7) {
  animation-delay: 0.6s;
}
.segment:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes slither {
  0%,
  100% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(10px) translateY(-5px);
  }
}

.feather {
  width: 10px;
  height: 20px;
  background: linear-gradient(to top, #f9b064, rgb(27, 21, 11));
  position: absolute;
  border-radius: 50% 50% 0 0;
  transform: rotate(-30deg);
  animation: flutter 0.5s infinite alternate;
}
.feather.one {
  transform: rotate(-50deg);
}

@keyframes flutter {
  from {
    transform: rotate(-30deg) scale(1);
  }
  to {
    transform: rotate(-25deg) scale(1.1);
  }
}

.head {
  width: 50px;
  height: 40px;
  background-color: #858585;
  border-radius: 10px 50% 50% 10px;
  position: absolute;
  left: 100px;
  top: -5px;
  transform: scaleX(1.2);
  animation: slither 1s infinite ease-in-out;
  animation-delay: 0.6s;
}

.eye {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15%;
  position: absolute;
  top: 6px;
  left: 10px;
}

.fang {
  width: 4px;
  height: 12px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: -3px;
  transform: rotate(20deg);
}

.fang.left {
  left: 8px;
}

.fang.right {
  left: 24px;
  transform: rotate(-90deg);
}
.age-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to bottom,
    rgba(12, 12, 12, 0.8),
    rgba(24, 24, 24, 0.8)
  );
  border: 2px solid rgba(147, 104, 59, 0.27);
}

.popup-content h2 {
  margin-bottom: 1rem;
}

.popup-content p {
  margin-bottom: 1.5rem;
}

/* .popup-content button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #f9b064;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* .popup-content button:hover {
  background-color: #f9b064;
} */
.mg-button {
  position: relative;
  padding: 20px 30px;
  margin: 5px;
  display: inline-block;
  font-size: 0.5rem;
  font-family: var(--body-font);
  color: white;
  background: transparent;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mg-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 5px; /* control the border thickness */
  background: linear-gradient(45deg, #c08b53, #c08b5339);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.mg-button:hover {
  background: linear-gradient(45deg, #c08b53, #c08b5339);
  border-radius: 50px !important;
  transition: background 0.3s ease;
}
